@media (max-width: 992px) {
    main .loc-map {
        height: 400px;
        width: 300px;
    }

    .find-us .gallery {
        column-gap: 40px;
        row-gap: 40px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 100px 5%;
    }

    main.store-loc {
        flex-direction: column;
    }

    section {
        padding: 50px 5%;
    }

    footer {
        flex-direction: column;
    }

    main .menu {
        grid-template-columns: 1fr 1fr;
    }

    main .loc-map {
        height: 400px;
        width: 100%;
    }

    main .contact-form {
        padding: 20px;
    }

    main .contact-form .input {
        flex-direction: column;
        row-gap: 10px;
    }

    main .who, main .showcase, main .hangout {
        flex-direction: column;
        row-gap: 20px;
    }

    main .who img, main .showcase img, main .hangout img {
        margin: auto;
    }

    .find-us .gallery {
        column-gap: 40px;
        row-gap: 40px;
        grid-template-columns: 1fr 1fr;
    }

    .find-us .gallery img {
        margin: auto;
    }

    footer {
        padding: 30px;
    }

    footer .logo-icon {
        text-align: center;
    }

    footer .logo-icon div {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px 40px;
    }

    header ul a {
        display: none;
    }

    header .menu-icon {
        display: block;
    }

    .find-us .gallery {
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .find-us .gallery img {
        width: 100%;
        height: auto;
    }

    footer, footer .page-list {
        flex-direction: column;
        row-gap: 30px;
    }

    main .menu {
        grid-template-columns: 1fr;
        margin: auto;
    }

    main .loc-map {
        height: 400px;
        width: 100%;
    }

    main .product-detail {
        flex-direction: column;
    }

    main .product-detail .product-photo {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        left: 50%;
    }
}