:root {
    --white: #F9FBFE;
    --blue: #0F8B8D;
    --orange: #EC9A29;
    --red: #A8201A;
    --dark-blue: #143642;
}

@media (max-width: 992px) {
    main .loc-map {
        height: 400px;
        width: 300px;
    }

    .find-us .gallery {
        column-gap: 40px;
        row-gap: 40px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 100px 5%;
    }

    main.store-loc {
        flex-direction: column;
    }

    section {
        padding: 50px 5%;
    }

    footer {
        flex-direction: column;
    }

    main .menu {
        grid-template-columns: 1fr 1fr;
    }

    main .loc-map {
        height: 400px;
        width: 100%;
    }

    main .contact-form {
        padding: 20px;
    }

    main .contact-form .input {
        flex-direction: column;
        row-gap: 10px;
    }

    main .who, main .showcase, main .hangout {
        flex-direction: column;
        row-gap: 20px;
    }

    main .who img, main .showcase img, main .hangout img {
        margin: auto;
    }

    .find-us .gallery {
        column-gap: 40px;
        row-gap: 40px;
        grid-template-columns: 1fr 1fr;
    }

    .find-us .gallery img {
        margin: auto;
    }

    footer {
        padding: 30px;
    }

    footer .logo-icon {
        text-align: center;
    }

    footer .logo-icon div {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px 40px;
    }

    header ul.display a {
        display: none;
    }

    header ul.display .menu-icon {
        display: block;
    }

    ul#hidden {
        flex-direction: column;
        width: 100%;
        position: absolute;
        row-gap: 0;
        top: 75px;
        padding: 20px;
        z-index: 100;
        text-align: end;
        margin: 0;
        padding: 0;
        background-color: var(--blue);
        padding: 10px 0;
        transition: all 0.3s ease-in-out;
    }

    ul#hidden li {
        list-style: none;
    }

    ul#hidden a {
        color: var(--white);
        text-decoration: none;
        padding: 15px 35px;
    }

    ul#hidden a:hover {
        background-color: #097577;
    }

    .find-us .gallery {
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .find-us .gallery img {
        width: 100%;
        height: auto;
    }

    footer, footer .page-list {
        flex-direction: column;
        row-gap: 30px;
    }

    main .menu {
        grid-template-columns: 1fr;
        margin: auto;
    }

    main .loc-map {
        height: 400px;
        width: 100%;
    }

    main .product-detail {
        flex-direction: column;
    }

    main .product-detail .product-photo {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        left: 50%;
    }
}